<section data-ng-controller="HomeController">
<md-tabs md-dynamic-height md-border-bottom md-selected="tab.selectedIndex">
      <md-tab label="Group" md-on-select="resetTabs()">
        <md-content class="md-padding score-rows">
          <div data-ng-init="getScores()">
            <md-list>
               <md-list-item ng-click="seeGolfer(score)" ng-repeat="score in scores | orderBy: '-date'" class="md-2-line">
                <div class="md-list-item-text score-row">
                  <h3 class="title">{{ score.golfer }} </h3>
                  <span class="date block"> {{ score.date | date : format : timezone}} <span class="tags"> ({{score.tags}})</span></span>

                  <div class="score-container">
                  <span class="score">{{ score.score }}</span>
                  </div>
                </div>
                <md-divider ></md-divider>
              </md-list-item>

            </md-list>
        
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Golfer"  ng-disabled="tab.secondLocked">
        <md-content class="md-padding">
            <md-list>
               <md-list-item ng-repeat="score in scores | orderBy: '-date'" ng-if="score.golfer == currentGolfer" class="md-2-line">
                <div class="md-list-item-text score-row no-click">
                  <h3 class="title">{{ score.golfer }}</h3>
                  <span class="date block"> {{ score.date | date : format : timezone}} <span class="tags"> ({{score.tags}})</span></span>
                   <div class="score-container">
                  <span class="score">{{ score.score }}</span>
                  </div>
                </div>
                <md-divider ></md-divider>
              </md-list-item>
            </md-list>
            <charts data="{{ data }}"></charts>
        </md-content>
      </md-tab>



</section>