<section data-ng-controller="HomeController">
  <md-tabs md-stretch-tabs="never" md-dynamic-height md-border-bottom md-selected="tab.selectedIndex"  data-ng-init="getScores()">
    <md-tab label="Last Week" md-on-select="resetTabs(0)">
        <div ng-include src="'/modules/core/views/templates/tab1.html'"></div>
    </md-tab>
    <md-tab label="All"  md-on-select="showAllTime(1)">
        <div ng-include src="'/modules/core/views/templates/tab2.html'"></div>
    </md-tab>
    <md-tab label="Golfer" md-on-select="buildGolferScores()" ng-disabled="tab.secondLocked">
      <div ng-include src="'/modules/core/views/templates/tab3.html'"></div>  
    </md-tab>
  </md-tabs>
</section>