<section class="row" data-ng-controller="AuthenticationController">
<md-subheader>Sign In</md-subheader>
	<div class=" player-scores">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
				<md-input-container>
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</md-input-container>
				<md-input-container>
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</md-input-container>
				<div class="text-center form-group">
					<md-button type="submit" class="btn btn-primary">Sign in</md-button>
					<!-- <a href="/#!/signup">Sign up</a> -->
				</div>
				<!-- <div class="forgot-password">
					<a href="/#!/password/forgot">Forgot your password?</a>
				</div> -->
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
		</form>
	</div>
</section>