
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.sidebar md-list-item {
	display: block;
	padding: 10px 15px;
	cursor: pointer;
}

.sidebar md-list-item:hover {
	background: #ddd;

}

.sidebar md-list-item  .link{
	padding-left: 5px;
	display: inline-block;
	line-height: 0;
  height: 21px;
  vertical-align: middle;
  color: #555;
}

.course-details {
	padding: 0 10px;
	background: #f8f8f8;
}

.course-details md-input-container {
	padding-bottom: 5px;
}
.player-scores {
	padding: 10px;
}
.block {
	display: block;
}
.score-row {
	padding: 8px 0;
	margin : 0 16px;
	position: relative;
}
.gentle {
	font-size: 10px;
  color: #AAA;
  font-style: italic;
  display: block;
}
.left {
	float: left;
}
.wrangle {
	margin: 0 16px 16px 16px;
}
.golfer-icon {
	margin-right: 16px;
	border-radius: 30px;
	height: 40px;
	width: 40px;
	background: #bbb;
	float: left;
}
.golfer-info {
	float: left;
}

.move-right {
	margin-left: 20px;
}

.score-row:hover {
	background: #eee;
	cursor: pointer;
}
md-select{ 
padding-bottom: 26px 
}

.score-row.no-click {
	background: #fff;
	cursor: default;
}

.title {
	margin: 0;
}
.date {
	margin: 0;
	color: #777;
	font-size: 12px;
}

.score-row h3 {
	font-size: 1em;
}
.button-container {
	padding: 0 10px 10px 10px;
}

.score-row .link {
	font-size: 10px;
	color: #555;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
}
.score-row .link:hover {
	text-decoration: underline;
}
.score-container {
	top: 2px;
	position:	absolute;
	right: 8px;
	font-weight: bold;
	font-size: 32px;
}
.tags {
	font-size: 12px;
	color: #d5d5d5;
}
.md-header-items {
	background: #fafafa;
}

md-toolbar, .md-toolbar-tools {
	height: 44px;
	min-height: 44px;
	max-height: 44px;
}

charts {
	display: block;
	 border-bottom: 1px solid #DDD;
}

.tile-title {
	padding-top: 5px;
	display: block;
	text-transform: uppercase;
	text-align: center;
	font-size: 8px;
	color: #aaa;
}
.tile-number {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
.card {
	margin: 5px;
}
.card span {
	display: block;
	text-align: center;
}
.chart-container {
	margin-top: 10px;
}
.outline {
	border: 1px solid #ddd;
}


/*.tile-number , .ct-chart .ct-series.ct-series-a .ct-point {

}

.ct-chart .ct-series.ct-series-a .ct-line {
stroke: #888;
}*/
.page-title {
	margin:0 ;
	font-weight: normal;
}
.ct-chart .ct-label.ct-horizontal.ct-end {
	font-size: 9px;

}
.stats {
	padding: 10px 0;
}
.description {
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	margin-top: 05px;
}
.disclaimer {
	margin: 0;
	padding: 0 10px 10px 10px;
	font-size: 10px;
}
.saved {
	color: green;
}

.form-horizontal md-input-container {
	padding-bottom: 5px;
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hac