<section data-ng-controller="GolfersController" data-ng-init="findOne()">
<md-subheader>Edit Golfer</md-subheader>
<div class="player-scores">
    <form class="form-horizontal"  data-ng-submit="update()"  novalidate>
       <md-input-container flex>
          <label>Name</label>
            <input type="text" data-ng-model="golfer.name" id="name" class="form-control" placeholder="Name" required>

        </md-input-container>

       <md-input-container flex>
          <label>Description</label>
          <textarea data-ng-model="golfer.description" id="desc"></textarea>
        </md-input-container>

       <md-input-container flex>
          <label>Image Url</label>
          <input data-ng-model="golfer.imageUrl" id="imageUrl">
        </md-input-container>

        <div class="form-group">
        <md-button type="submit" value="Update" class="md-raised  md-primary">Save</md-button>
          </div>
        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>
</form>
</section>