<section data-ng-controller="ScoresController">
<form class="form-horizontal" data-ng-submit="create()" novalidate>
  <div layout="row" class="course-details">
    <div flex>
      <div class="input-container left">
          <md-input-container flex>
            <label>Date</label>
            <input type="date" ng-model="submissionDate">
          </md-input-container>
      </div>
       <div class="input-container left move-right">
          <md-input-container flex>
           <md-select flex ng-model="tags" >
            <md-option value="front" selected='true'>Front</md-option>
             <md-option value="back">Back</md-option>
            </md-select>
          </md-input-container>
      </div>
    </div>
  </div>
  <div class="player-scores">
    <div layout="row" ng-repeat="golfer in golfers">
      <div flex >
        <div class="input-container">
        <span ng-bind="golfer.name">
      </div>
      <div class="input-container">
        <md-input-container flex>
          <input type="text" data-ng-model="golfer.score" id="{{golfer.score}}">
        </md-input-container>
      </div>
      </div>
    </div>
  </div>

  <div class="button-container">
    <md-button type="submit"  class="md-raised  md-primary">Save scores</md-button>
    <span class="disclaimer" ng-hide="success">
    Leave it blank if they didn't play
    </span>
    <span class="disclaimer saved" ng-show="success">
    Saved
    </span>
  </div>
<div data-ng-show="error" class="text-danger">
	<strong data-ng-bind="error"></strong>
</div>
</form>
<md-divider></md-divider>
<md-content class="md-padding score-rows">
    <div data-ng-init="find()">
      <md-list>
         <md-list-item ng-repeat="score in scores | orderBy: '-date'" class="md-2-line">
          <div class="md-list-item-text score-row">
            <h3 class="title">{{ score.golfer.name }} 
            <a class="link" href="#" ng-click="remove(score)">Delete</a>
            </h3>
            <span class="date block">{{ score.date | date : format : timezone}}</span>
            <div class="score-container">
            <span class="score">{{ score.score }}</span>
            </div>
          </div>
          <md-divider ></md-divider>
        </md-list-item>

      </md-list>
  
    </div>
  </md-content>
</section>