<section data-ng-controller="ScoresController" data-ng-init="find()">
    <div class="page-header">
        <h1>Scores</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="score in scores" data-ng-href="#!/scores/{{score._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="score.created | date:'medium'"></span>
				by
				<span data-ng-bind="score.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="score.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!scores.$resolved || scores.length">
    	No Scores yet, why don't you <a href="/#!/scores/create">create one</a>?
    </div>
</section>